@model MVC_Client.Models.Donar

@{
    ViewData["Title"] = "Create";
}


<h4>Add a Donar</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="DonorId" class="control-label"></label>
                <input asp-for="DonorId" class="form-control" />
                <span asp-validation-for="DonorId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="DonorName" class="control-label"></label>
                <input asp-for="DonorName" class="form-control" />
                <span asp-validation-for="DonorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfDonation" class="control-label"></label>
                <input asp-for="DateOfDonation" class="form-control" />
                <span asp-validation-for="DateOfDonation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="organization_Id" class="control-label"></label>
                <input asp-for="organization_Id" class="form-control" />
                <span asp-validation-for="organization_Id" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

